body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #808080;
    font-size: 70%;
}
img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    margin: auto;
    
}
.adjust {
    transform: rotate(90deg);
    padding: 1.25em;
}
p {
    padding: 1.5em;
    width: 50%;
    margin: 5px;
}
#danger {
    color: red;
}